.heading {
  display: flex;
  align-items: center;
  width: 100%;
  color: white;
  padding: 14px 42px;
}

.main {
  display: flex;
  flex-direction: column;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px 42px;
}